.caption {
    font-size: smaller;
    text-align: center;
}

#side_posts {
    padding-right: 0.75rem;
}

#foot-center {
    text-align: center;
    padding-bottom: 2rem;
}

.masthead-title {
    padding-left: 3rem; 
}
