<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.sidebar }}</p>
  </div>

  <nav class="sidebar-nav">

    <a class="sidebar-nav-item{% if page.url == site.baseurl %}
        active{% endif %}" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %}
        active{% endif %}" href="{{ site.baseurl }}/blog">Latest posts</a>
    <ul class="posts" id="side_posts">
      {% for post in site.posts limit:5 %}
        <li>
          <span>{{ post.date | date_to_string }}</span> &raquo;
            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %}
        active{% endif %}" href="{{ site.baseurl }}/misc">Miscellaneous</a>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %}
        active{% endif %}" href="{{ site.baseurl }}/atom.xml">Feed</a>

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
